In [8]:
import numpy as np 
import pandas as pd

# OWN
import toolkit.cleaning_toolkit as cleaning_toolkit

In [3]:
df = pd.read_csv("../data/dataset.csv")

In [2]:
def create_date_columns(df: pd.DataFrame, date_col: str, columns_to_create: dict = None) -> pd.DataFrame:
    if not pd.api.types.is_datetime64_any_dtype(df[date_col]):
        df[date_col] = pd.to_datetime(df[date_col], errors='coerce')
    
    all_columns = {
        'day': lambda df: df[date_col].dt.strftime('%Y-%m-%d'),
        'week': lambda df: df[date_col].dt.to_period('W').apply(
            lambda r: r.start_time.strftime('%Y-%m-%d') if pd.notna(r) else None
        ),
        'month': lambda df: df[date_col].dt.to_period('M').apply(
            lambda r: r.start_time.strftime('%Y-%m-%d') if pd.notna(r) else None
        ),
        'year': lambda df: df[date_col].dt.to_period('Y').apply(
            lambda r: r.start_time.strftime('%Y-%m-%d') if pd.notna(r) else None
        )
    }
    
    if columns_to_create is None:
        columns_to_create = all_columns.keys()
    
    for col_name in columns_to_create:
        if col_name in all_columns:
            df[col_name] = all_columns[col_name](df)
        else:
            print(f"Advertencia: '{col_name}' no es una opci칩n v치lida. Opciones v치lidas: {list(all_columns.keys())}")
    
    return df

In [6]:
# def get_percent(
#     df: pd.DataFrame, cat_col: str, group_col: str = "week"
# ) -> pd.DataFrame:
#     total_group = df.groupby([group_col].size().reindex(week_range, fill_value=0))
#     total_group_cat = df.groupby([group_col]).size().unstack(fill_value=0)
#     percent_group = total_group.div(total_group_cat, axis=0).reset_index()

#     return percent_group

In [4]:
def filter_common_categories(
    df: pd.DataFrame, cat_col: str, threshold: float = 0.01
) -> pd.DataFrame:
    category_counts = df[cat_col].value_counts(normalize=True)

    common_categories = category_counts[category_counts >= threshold].index

    df_filtered = df[df[cat_col].isin(common_categories)]

    return df_filtered

In [5]:
# def get_percent(
#     df: pd.DataFrame, cat_col: str, group_col: str = "week"
# ) -> pd.DataFrame:
#     total_group = df.groupby(group_col).size()
#     total_group_cat = df.groupby([group_col, cat_col]).size().unstack(fill_value=0)

#     percent_group = total_group_cat.div(total_group, axis=0) * 100
#     percent_group = percent_group.reset_index()

#     return percent_group

In [12]:
def get_percent(
    df: pd.DataFrame, cat_col: str, group_col: str = "week"
) -> pd.DataFrame:
    if pd.api.types.is_datetime64_any_dtype(df[group_col]):
        df[group_col] = pd.to_datetime(
            df[group_col], errors="coerce"
        )  # Manejar errores de conversi칩n a NaT

        df = df.dropna(subset=[group_col])

        df[group_col] = df[group_col].dt.to_period("W").dt.start_time
        full_range = pd.period_range(
            df[group_col].min(), df[group_col].max(), freq="W"
        ).to_timestamp()
    else:
        full_range = df[group_col].unique()

    total_group = df.groupby(group_col).size()

    total_group_cat = df.groupby([group_col, cat_col]).size().unstack(fill_value=0)

    total_group = total_group.reindex(full_range, fill_value=0)
    total_group_cat = total_group_cat.reindex(full_range, fill_value=0)

    percent_group = total_group_cat.div(total_group, axis=0) * 100

    percent_group = percent_group.reset_index()

    return percent_group

In [7]:
def divide_by_date(
    df: pd.DataFrame, date_col: str, date_limit: str | pd.Timestamp
) -> tuple[pd.DataFrame]:
    df[date_col] = pd.to_datetime(df[date_col], errors="coerce")

    if isinstance(date_limit, str):
        date_limit = pd.to_datetime(date_limit, errors="coerce")

    before = df[df[date_col] < date_limit]
    after = df[df[date_col] >= date_limit]

    return before, after

In [5]:
df = cleaning_toolkit.format_date(df, "fecha")

In [6]:
df["week"] = (
    df["fecha"]
    .dt.to_period("W")
    .apply(lambda r: r.start_time.strftime("%Y-%m-%d") if pd.notna(r) else None)
)

In [14]:
df.head()

,id_producto,id_partner,fecha,exito,franquicia,partner,valor,motivo,codigo_error,week
0,1,8,2024-03-02,CONFIRMED,franquicia_43,partner_43_12,11869.0,NaN,NaN,2024-02-26
1,2,5,2024-01-27,CONFIRMED,franquicia_45,partner_45,9394.0,NaN,NaN,2024-01-22
2,3,15,2024-07-06,CONFIRMED,NaN,partner_26,19836.0,NaN,NaN,2024-07-01
3,4,7,2024-07-24,CONFIRMED,franquicia_11,partner_11,10666.0,NaN,NaN,2024-07-22
4,5,17,2024-05-15,CONFIRMED,franquicia_44,partner_44,20481.0,NaN,NaN,2024-05-13

In [17]:
df.drop(columns="week", inplace=True)

In [15]:
percent = get_percent(df, cat_col="motivo", group_col="week")

In [16]:
percent

motivo        week  motivo_1  motivo_2  motivo_3
0       2024-02-26  1.056636  1.310228  2.324598
1       2024-01-22  1.110162  0.982067  2.305722
2       2024-07-01  1.388322  1.837485  2.572479
3       2024-07-22  1.522634  1.646091  2.386831
4       2024-05-13  1.109741  1.109741  2.219482
5       2024-03-25  1.152263  1.440329  2.674897
6       2024-06-17  0.960735  1.461988  2.213868
7       2024-07-29  1.019108  1.146497  2.717622
8       2024-01-15  1.030928  1.278351  2.639175
9       2024-08-05  1.379022  1.587965  2.549102
10      2024-04-29  1.374427  1.207830  2.665556
11      2024-04-22  0.767591  1.620469  2.430704
12      2024-09-09  1.239009  1.278977  2.038369
13      2024-08-26  1.066886  1.148954  2.051703
14      2024-03-11  1.157982  1.447477  2.605459
15      2024-07-15  1.292744  1.417848  2.001668
16      2024-09-02  1.258917  1.426773  2.517835
17      2024-08-12  1.316348  1.188960  2.760085
18      2024-05-06  0.970464  1.265823  2.320675
19      2024-04-01  1.431670  0.997831  3.080260
20      2024-01-29  1.369295  1.078838  2.904564
21            None       NaN       NaN       NaN
22      2024-01-08  0.900515  0.986278  2.744425
23      2024-05-20  1.330472  0.987124  2.317597
24      2024-01-01  1.220539  1.430976  2.441077
25      2024-08-19  1.072961  1.287554  2.188841
26      2024-03-04  1.428571  1.554622  2.815126
27      2024-02-12  1.179444  1.137321  2.485257
28      2024-04-08  1.176965  1.219000  1.975620
29      2024-06-03  1.333889  1.125469  2.209254
30      2024-07-08  1.204319  1.287375  2.533223
31      2024-02-19  1.187951  1.018244  2.078914
32      2024-04-15  1.190965  1.232033  2.422998
33      2024-03-18  1.037775  0.830220  2.739726
34      2024-09-23  0.996264  0.913242  3.113325
35      2024-05-27  1.416917  1.159296  2.662087
36      2024-09-30  1.533220  1.135718  2.271437
37      2024-09-16  1.212611  1.253032  3.152789
38      2024-06-10  1.620274  1.371001  2.534275
39      2024-06-24  1.129707  1.422594  2.426778
40      2024-02-05  1.225180  0.844951  1.732150